@model PagedList.IPagedList<WebApp.Models.WebPage>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>


<table class="table">
    <tr>
        <th>
            @Html.Display("Title")
        </th>
        <th>
            @Html.Display("Url")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href=@item.Url>@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Query", new { page }))
